form > table tr.breadcrumb-parent td,
form > table tr.breadcrumb-parent:nth-child(2n) td {
	background: #f5f5f4;
}
form > table tr.breadcrumb-parent.selected td,
form > table tr.breadcrumb-parent.selected:nth-child(2n) td {
	background: #5273c0;
}
form > table tr.breadcrumb-child td,
form > table tr.breadcrumb-child:nth-child(2n) td {
	background: transparent;
}
form > table tr.breadcrumb-child.selected td,
form > table tr.breadcrumb-child.selected:nth-child(2n) td {
	background: #5677c3;
}
form > table tr.breadcrumb-child.alternating-depth td,
form > table tr.breadcrumb-child.alternating-depth:nth-child(2n) td {
	background: #fbfbfc;
}
form > table tr.breadcrumb-child.alternating-depth.selected td,
form > table tr.breadcrumb-child.alternating-depth.selected:nth-child(2n) td {
	background: #5273c0;
}

form > table tr td:first-child {
	overflow: hidden;
	padding-left: 29px;
}
form > table span.breadcrumb-spacer {
	border-left: 1px solid hsla(0, 0%, 0%, 0.2);
	display: inline-block;
	height: 40px;
	margin: -40px 10px -40px -10px;
	vertical-align: middle;
	width: 14px;
}
form > table span.breadcrumb-spacer.ignored {
	visibility: hidden;
}
form > table span.breadcrumb-spacer.terminated {
	border-color: hsla(0, 0%, 0%, 0.2);
	margin-bottom: 0;
}
form > table span.breadcrumb-spacer.continued {
	border-color: hsla(0, 0%, 0%, 0.2);
}
form > table span.breadcrumb-spacer.terminated:after,
form > table span.breadcrumb-spacer.continued:after {
	border-bottom: 1px solid hsla(0, 0%, 0%, 0.2);
	content: '';
	display: inline-block;
	height: 20px;
	width: 6px;
}
form > table span.breadcrumb-spacer.terminated:after {
	height: 39px;
}
form > table tr.selected span.breadcrumb-spacer,
form > table tr.selected span.breadcrumb-spacer:after {
	border-color: hsla(0, 0%, 100%, 0.3);
}

form > table a.breadcrumb-toggle {
	color: #333333;
	display: inline-block;
	height: 40px;
	font-size: 16px;
	margin: -40px 1px -40px -1016px;
	padding-left: 1000px;
	text-decoration: none;
	width: 15px;
}
form > table tr.selected a.breadcrumb-toggle {
	color: #ffffff;
}