div[data-breadcrumb] {
	margin: -1.3em 0 0 0;
}

div[data-breadcrumb] ol.items {
	background: #e6e6e6;
	border: 1px solid #c2c2c2;
	height: 25px;
	margin: 0;
}
div[data-breadcrumb] ol.items li {
	cursor: pointer;
	display: block;
	float: left;
	line-height: 25px;
	padding: 0 15px;
	position: relative;
	z-index: 3;
}

div[data-breadcrumb] ol.items li.item + .item {
	padding-left: 25px;
}
div[data-breadcrumb] ol.items li.item:after {
	background: #e6e6e6;
	border-right: 1px solid #c2c2c2;
	border-bottom: 1px solid #c2c2c2;
	content: '';
	display: block;
	height: 18px;
	position: absolute;
	right: -10px;
	top: 3px;
	transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	width: 18px;
}
div[data-breadcrumb] ol.items li.item:hover {
	background: #dcdcdc;
	z-index: 2;
}
div[data-breadcrumb] ol.items li.item:hover:after {
	background: #dcdcdc;
}
div[data-breadcrumb] ol.items li.item:hover + .item {
	z-index: 1;
}
div[data-breadcrumb] ol.items li.item.editing {
	background: red;
	z-index: 2;
}
div[data-breadcrumb] ol.items li.item.editing:after {
	background: red;
}
div[data-breadcrumb] ol.items li.item.editing + .item {
	z-index: 1;
}

div[data-breadcrumb] ol.items li.insert {
	font-weight: bold;
	padding: 0 10px 0 20px;
	z-index: 1;
}
div[data-breadcrumb] ol.items li.insert:hover {
	background: #dcdcdc;
}

div[data-breadcrumb] div.edit {
	background: #f5f5f5;
	border: 1px solid #e4e4e4;
	padding: 0 0 5px 0;
}
div[data-breadcrumb] div.edit ol.options {
	background: #ffffff;
	border-bottom: 1px solid #e4e4e4;
	margin: 0;
	overflow: hidden;
}
div[data-breadcrumb] div.edit ol.options li {
	cursor: default;
	padding: 5px 10px;
}
div[data-breadcrumb] div.edit ol.options li + li {
	border-top: 1px solid #e4e4e4;
}
div[data-breadcrumb] div.edit ol.options li:hover {
	background: #fafafa;
}
div[data-breadcrumb] div.edit ol.options li.selected {
	background: red;
}