div[data-breadcrumb] {
	margin: -1.3em 0 0 0;
	min-height: 26px;
	position: relative;
}

div[data-breadcrumb] ol.items {
	background: #333333;
	color: #eeeeee;
	height: 26px;
	float: left;
	margin: 0;
	position: relative;
	overflow: hidden;
}
div[data-breadcrumb] ol.items li {
	cursor: default;
	display: block;
	float: left;
	line-height: 26px;
	margin: 0 9px 0 -10px;
	padding: 0 10px 0 15px;
	position: relative;
	z-index: 1;
}
div[data-breadcrumb] ol.items li.insert {
	font-size: 0.8em;
}
div[data-breadcrumb] ol.items li:before,
div[data-breadcrumb] ol.items li:after {
	border-left: 1px solid #666666;
	border-right: 1px solid #666666;
	content: '';
	display: block;
	height: 13px;
	left: 0;
	position: absolute;
	right: 0;
	transform: skewX(45deg);
	-moz-transform: skewX(45deg);
	-ms-transform: skewX(45deg);
	-o-transform: skewX(45deg);
	-webkit-transform: skewX(45deg);
	top: 0;
	z-index: -1;
}
div[data-breadcrumb] ol.items li:after {
	bottom: 0;
	transform: skewX(-45deg);
	-moz-transform: skewX(-45deg);
	-ms-transform: skewX(-45deg);
	-o-transform: skewX(-45deg);
	-webkit-transform: skewX(-45deg);
	top: auto;
}
div[data-breadcrumb] ol.items li:hover:before,
div[data-breadcrumb] ol.items li:hover:after {
	background: #444444;
}
div[data-breadcrumb] ol.items li:first-child {
	padding-left: 20px;
}
div[data-breadcrumb] ol.items li:last-child {
	margin-right: -20px;
	padding-right: 30px;
}
div[data-breadcrumb] ol.items li:last-child:before,
div[data-breadcrumb] ol.items li:last-child:after {
	border-right: none;
}

div[data-breadcrumb] ol.options {
	clear: both;
	color: #eeeeee;
	float: left;
	left: -10px;
	margin: 0;
	overflow: hidden;
	padding: 7px 0 0 0;
	position: absolute;
	top: 26px;
}
div[data-breadcrumb] ol.options:before {
	border: 7px solid transparent;
	border-bottom-color: #333333;
	content: '';
	display: block;
	height: 0;
	left: 10px;
	position: absolute;
	top: -7px;
	width: 0;
}
div[data-breadcrumb] ol.options li {
	background: #333333;
	cursor: default;
	padding: 5px 15px;
}
div[data-breadcrumb] ol.options li + li {
	border-top: 1px solid #555555;
}
div[data-breadcrumb] ol.options li:hover {
	background: #444444;
}
div[data-breadcrumb] ol.options li.selected {
	background: #222222;
}