div[data-breadcrumb] {
	margin: -1.3em 0 0 0;
	position: relative;
	overflow: hidden;
}

div[data-breadcrumb] ol.items {
	background: #333333;
	color: #eeeeee;
	height: 25px;
	float: left;
	margin: 0;
	position: relative;
	overflow: hidden;
}
div[data-breadcrumb] ol.items li {
	cursor: default;
	display: block;
	float: left;
	line-height: 25px;
	padding: 0 15px;
	position: relative;
	z-index: 3;
}

div[data-breadcrumb] ol.items li.item + .item {
	padding-left: 25px;
}
div[data-breadcrumb] ol.items li.item:after {
	background: #333333;
	border-right: 1px solid #666666;
	border-bottom: 1px solid #666666;
	content: '';
	display: block;
	height: 18px;
	position: absolute;
	right: -10px;
	top: 3px;
	transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	width: 18px;
}
div[data-breadcrumb] ol.items li.item:hover {
	background: #444444;
	z-index: 2;
}
div[data-breadcrumb] ol.items li.item:hover:after {
	background: #444444;
}
div[data-breadcrumb] ol.items li.item:hover + .item {
	z-index: 1;
}
div[data-breadcrumb] ol.items li.item.editing {
	background: #222222;
	color: #ffffff;
	z-index: 2;
}
div[data-breadcrumb] ol.items li.item.editing:after {
	background: #222222;
}
div[data-breadcrumb] ol.items li.item.editing + .item {
	z-index: 1;
}

div[data-breadcrumb] ol.items li.insert {
	font-weight: bold;
	padding: 0 10px 0 20px;
	z-index: 1;
}
div[data-breadcrumb] ol.items li.insert:hover {
	background: #444444;
}

div[data-breadcrumb] ol.options {
	background: #333333;
	clear: both;
	color: #eeeeee;
	float: left;
	margin: 7px 0 0 0;
	position: relative;
}
div[data-breadcrumb] ol.options:before {
	border: 7px solid transparent;
	border-bottom-color: #333333;
	content: '';
	display: block;
	height: 0;
	left: 5px;
	position: absolute;
	top: -14px;
	width: 0;
}
div[data-breadcrumb] ol.options li {
	cursor: default;
	padding: 5px 15px;
}
div[data-breadcrumb] ol.options li + li {
	border-top: 1px solid #555555;
}
div[data-breadcrumb] ol.options li:hover {
	background: #444444;
}
div[data-breadcrumb] ol.options li.selected {
	background: #222222;
}